##Análise exploratória dos dados de Síndrome Respiratória Aguda de 2020##
##Fonte de dados Open DATASUS link https://opendatasus.saude.gov.br/dataset/bd-srag-2020/resource/8f571374-c555-4ec0-8e44-00b1e8b11c25 ##

In [15]:
#Importando as bibliotecas para a análise#
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

#Importando arquivo CSV
df = pd.read_csv('INFLUD.csv', delimiter = ';', usecols = [0,4,7,11,13,107,110])
df.head()

,DT_NOTIFIC,SG_UF_NOT,ID_MUNICIP,CS_SEXO,NU_IDADE_N,CLASSI_FIN,EVOLUCAO
0,11/02/2020,MS,CAMPO GRANDE,F,53,4.0,1.0
1,27/02/2020,MA,SAO LUIS,M,49,NaN,NaN
2,06/02/2020,AM,MANAUS,F,91,2.0,2.0
3,16/03/2020,RJ,RIO DE JANEIRO,F,66,4.0,1.0
4,26/03/2020,BA,JUAZEIRO,M,1,1.0,9.0

In [20]:
df.dtypes
#df['SG_UF_NOT'].unique()

DT_NOTIFIC     object
SG_UF_NOT      object
ID_MUNICIP     object
CS_SEXO        object
NU_IDADE_N      int64
CLASSI_FIN    float64
EVOLUCAO      float64
dtype: object